* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   /* max-width: 100%; */
}
.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: rgb(141, 179, 231);
}
.container h1 {
    padding-block: 1rem;
    text-align: center;
}
img {
    max-width: 100%;
}
.time-stamp, .role {
    padding-inline: 1.5rem;
}
.time-stamp {
    padding: 1.2rem;
}
h2 {
    font-size: 2rem;
}
.day {
    font-size: 1.2rem;
}
.logo {
    height: 30px;
}
span {
    font-weight: 700;
    text-transform: uppercase;
}
.d-wrap, .t-wrap {
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* MEDIA QUERY */
@media screen and (max-width: 425px) {
    .container {
        width: 90%;
        margin-top: 0;
    }
    h2 {
        font-size: 1.5rem;
    }
    .day {
        font-size: 1rem;
    }
    span {
        font-size: .85rem;
    }
}